body,
html {
  height: 100%;
}

#usertypeheading {
  margin-top: 15px;
  font-size: 9.5px;
}

.nav-al-lado {
  display: none;
}

body {
  width: 100%;
}

#canvas-div {
  margin-left: 15%;
  align-items: center;
  max-width: 500px;
}

.alert {
  text-align: center;
}
